{% extends 'index.html' %}
{% block panel %}
<li class="active"><a href="/main/">Inicio</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Buscar<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	<li><a href="/buscar/organizaciones" >Organizaciones</a></li>
	<li><a href="/buscar/empresas" >Empresas</a></li>
	</ul>
</li>
<li><a href="/contact/">Contacto</a></li>
<li><a href="/about/">Acerca de</a></li>
<li><p>{{ong.nombre}}</p></li>
<li><a href="/logout/">Cerrar sesión</a></li>

{% endblock %}



{% block principal %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<img src="{{MEDIA_URL}}{{ ong.logo }}" width="100px;" />
			<h2>{{ ong.nombre }}</h2>
			<p>{{ ong.descripcion }}</p>
			<p><b>Objetivos:</b><br>{{ ong.objetivos }}</p>
			<a href="/editarong/">Editar perfil</a>
		</div>
		<div class="span10">
			<h1>Especialidades</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Especialidad</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
				{% for i in ong.especialidades.all %}
				<tr>
					<td>{{ i.nombre }}</td>
					<td>{{ i.descripcion }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			
			<h1>Favoritos</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Favorito</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					{% for i in ong.favoritos.all %}
					<tr>
						<td>{{ i.nombre }}</td>
						<td>{{ i.descripcion }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			
			<h1>Proyectos</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Descripci&oacute;n</th>
						<th>Objetivos</th>
					</tr>
				</thead>
				<tbody>
				{% for p in ong.proyecto_set.all %}
				<tr>
					<td><a href="../../proyecto/{{p.id}}">{{ p.descripcion }}</a></td>
					<td>{{ p.objetivos }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			
			{% if not ong.es_empresa %}
			<input value="Agregar proyecto" onClick="location.href='nuevoproyecto'" type="button" class="btn btn-primary">
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

