{% extends 'index.html' %}

{% block panel %}
              <li class="active"><a href="../">Inicio</a></li>
              <li><a href="../about/">Acerca de</a></li>
              <li><a href="../contact/">Contáctanos</a></li>
{% endblock %}

{% block principal %}
      <div class="hero-unit">
        <h1>Gracias!</h1>
        <p>Pronto te tendremos noticias sobre los avances de este proyecto</p>
		<p><a href = "../"class="btn btn-primary btn-large">Regresar &raquo;</a></p>	
      </div>
{% endblock %}              
