{% extends 'index.html' %}

{% block panel %}
<li class="active"><a href="/">Inicio</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Regístrate<b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	<li><a href="/intereses/0/" >Voluntario</a></li>
	<li><a href="/intereses/1/" >Organización</a></li>
	<li><a href="/intereses/2/" >Empresa Privada</a></li>
	</ul>
</li>
<li><a href="/contact/">Contacto</a></li>
<li><a href="/about/">Acerca de</a></li>

{% endblock %}

{% block signin %}
{% if log %}
<p> Conectado como {{user.username}}</p>
<form class="navbar-form pull-right" action="." method="POST">{% csrf_token %}<button type="submit" class="btn" value="logout" name="logout">Cerrar sesión</button></form>
{% else %}
<form name="log" class="navbar-form pull-right" action = "." method="POST" onsubmit="return validation();">{% csrf_token %}
	<input class="span2" type="text" class="input-small" placeholder="Usuario" name="username">
	<input class="span2" type="password" class="input-small" placeholder="Contraseña" name = "password">
	<button type="submit" class="btn" value="login" name="login" >Iniciar sesión</button>
</form>

{% if invalid %}
	<div class="alert alert-error span4">
		<button type="button" class="close" data-dismiss="alert">x</button>
		<p>Usuario y/o contraseña incorrectos</p>
	</div>
{% else %}
<div id="alertas"></div>
{% endif %}
{% endif %}
{% endblock %}

{% block principal %}
{% if log %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->
      <h2>{{ vol.nombres }}, {{vol.apellidos}}</h2>
      <p><strong> Edad :</strong>{{ current }}</p>
    </div>
    <div class="span10">
      <h1>Especialidades</h1>
      <table class="table table-striped">
		  <thead>
			  <tr>
				  <th>Especialidad</th>
				  <th>Descripción</th>
			  </tr>
		  </thead>
		  <tbody>
			{% for i in vol.especialidades.all %}
			<tr>
				<td>{{ i.nombre }}</td>
				<td>{{ i.descripcion }}</td>
			</tr>
			{% endfor %}
		  </tbody>
      </table>
      <h1>Favoritos</h1>
      <table class="table table-striped">
		  <thead>
			  <tr>
				  <th>Favorito</th>
				  <th>Descripción</th>
			  </tr>
		  </thead>
		  <tbody>
			{% for i in vol.favoritos.all %}
			<tr>
				<td>{{ i.nombre }}</td>
				<td>{{ i.descripcion }}</td>
			</tr>
			{% endfor %}
		  </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script>
	function validation(){
		document.log.username.value = document.log.username.value.toLowerCase();
		var user = document.log.username.value,
		pass = document.log.password.value;
		if (user==null || user=='' || pass==null || pass==''){
			if ($('#alerta1').length==0){
				$('#alertas').append('<div id="alerta1" class="alert alert-error span4"><button type="button" class="close" data-dismiss="alert">x</button><p>Por favor agregue un usuario/contraseña</p></div>');
			}
			return false;
		}
		return true;
	}
	
	
	
</script>
{% endblock %}
