{% extends 'index.html' %}

{% block panel %}
              <li><a href="../../">Inicio</a></li>
              <li class="active" ><a href="../../about/">Acerca de</a></li>
              <li><a href="../../contact/">Contáctanos</a></li>
{% endblock %}

{% block principal %}
    {% if tipo == 'voluntario' or tipo == 'empresa' %}
        <h3>Empleos recomendados:</h3>
        <p>
        {% if lista %}
            {% for empleo in lista %}
                <!-- TODO presentar resultados en tablas -->
                {{empleo.descripcion}}<br>
            {% endfor %}
        {% else %}
            No se obtuvo ningun resultado.
        {% endif %}
        </p>
    {% endif %}


    {% if tipo == 'ong' %}
        <h3>Voluntarios recomendados:</h3>
        <p>
        {% if lista %}
            {% for voluntario in lista %}
                <!-- TODO presentar resultados en tablas -->
                {{voluntario.nombres}}<br>
            {% endfor %}
        {% else %}
            No se obtuvo ningun resultado.
        {% endif %}
        </p>
        <h3>Empresas recomendadas:</h3>
        <p>
        {% if lista %}
            {% for empresa in lista %}
                <!-- TODO presentar resultados en tablas -->
                {{empresa.nombre}}<br>
            {% endfor %}
        {% else %}
            No se obtuvo ningun resultado.
        {% endif %}
        </p>
    {% endif %}

{% endblock %}
