{% extends 'index.html' %}
{% block panel %}
<li class="active"><a href="#">Inicio</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Información <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
	<li><a href="../info/organizaciones" >Organizaciones</a></li>
	<li><a href="../info/empresas" >Empresas</a></li>
	<li><a href="../info/voluntarios" >Voluntarios</a></li>
	</ul>
</li>
<li><a href="../contact/">Contacto</a></li>
<li><a href="../about/">Acerca de</a></li>
{% endblock %}

{% block principal %}
<div class="hero-unit">
	{% if error %}
		<div class='alert alert-error'>
			{{ error }}
		</div>
	{% endif %}
	<h1>{{ title }}</h1>
	<p>Por favor, complete los siguientes campos</p>
</div>

<form class="well form-horizontal" method="POST" action="." > {% csrf_token %}
		{{ form }}
		<br><br>
		<button type="submit" class="btn btn-primary">Guardar</button>
	</form>
{% endblock %}

{% block scripts %}
<script>
	$('.errorlist').wrap('<div class="alert alert-error"></div>')
	$('.alert.alert-error').prepend('<button type="button" class="close" data-dismiss="alert">x</button>')
</script>
{% endblock %}
