{% extends 'index.html' %}
{% load dictionary_extras %}

{% block panel %}
	<li class="active"><a href="/main/">Inicio</a></li>
	<li><a href="/about/">Acerca de</a></li>
	<li><a href="/contact/">Contáctanos</a></li>
	<li><p>{{proyecto.organizacion.nombre}}</p></li>
	<li><a href="/logout/">Cerrar sesión</a></li>
{% endblock %}

{% block principal %}
<div class="container-fluid">
	
	<div class="row-fluid">
		<div class="span2">
			<h2>Proyecto</h2>
			<p><b>Organizacion:</b></p>
			<p>{{ proyecto.organizacion.nombre }}</p>
			<p><b>Descripcion:</b></p>
			<p>{{ proyecto.descripcion }}</p>
			<p><b>Objetivos:</b></p>
			<p>{{ proyecto.objetivos }}</p><br>
		</div>
	
		<div class="span10">
			<h1>Puestos</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Descripci&oacute;n</th>
						<th>Escolaridad</th>
						<th>Costo</th>
					</tr>
				</thead>
				<tbody>
					{% for puesto in proyecto.puesto_set.all %}
						<tr>
							<td><a href="/puesto/{{puesto.id}}">{{ puesto.descripcion }}</a></td>
							<td>{{ esc|access:puesto.escolaridad }}</td>
							<td>{{ puesto.costo }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<input value="Agregar puesto" onClick="location.href='nuevopuesto'" type="button" class="btn btn-primary">
			<br><br><br>
			<input value="Regresar" onClick="location.href='/home/ong/'" type="button" class="btn btn-primary">
		</div>
	</div>
</div>
{% endblock %}
