{% extends 'index.html' %}
{% load dictionary_extras %}

{% block principal %}
	<div class="row-fluid">
		<div class="span2">
			<h2>Proyecto</h2>
			<p><b>Organizacion:</b></h4>
			<p>{{ puesto.proyecto.organizacion.nombre }}</p>
			<p><b>Descripcion:</b></p>
			<p>{{ puesto.proyecto.descripcion }}</p>
			<p><b>Objetivos:</b></p>
			<p>{{ puesto.proyecto.objetivos }}</p>
		</div>
		
		<div class="span6">
			<h1>Busquedas para puesto <u>{{obj.descripcion}}</u></h1><br>
			
			<h2>Empresa: {{ empresa.nombre }}</h2>
			<img src="{{MEDIA_URL}}{{empresa.logo}}" width="100px;"/><br>
			
			<table class="table table-striped">
				<thead>
					<tr><th>Informaci&oacute;n</th></tr>
				</thead>
				<tbody>
					<tr>
						<th>Descripci&oacute;n</th>
						<th>{{ empresa.descripcion }}</th>
					</tr>
					<tr>
						<th>Objetivos</th>
						<th>{{ empresa.objetivos }}</th>
					</tr>
					<tr>
						<th>Representante</th>
						<th>{{ empresa.nombre_representante }}, {{empresa.apellido_representante}}</th>
					</tr>
					<tr>
						<th>P&aacute;gina Web</th>
						<th>{{ empresa.pagina_web }}</th>
					</tr>
					<tr>
						<th>Tel&eacute;fono</th>
						<th>{{ empresa.telefono }}</th>
					</tr>
					<tr>
						<th>Direcci&oacute;n</th>
						<th>{{ empresa.direccion }}</th>
					</tr>
					<tr>
						<th>Correo</th>
						<th>{{ empresa.correo }}</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span4">
			<h2>Relaci&oacute;n con el puesto</h2>
			{% if status %}
				{{ empresa.nombre|pvs:status.status}}
			{% else %}
				<p>{{ empresa.nombre }} no est&aacute; relacionada con el puesto.
				¿Desea solicitar a {{ empresa.nombre }} su participaci&oacute; en el proyecto?</p>
				<form action="." method="POST">{% csrf_token %}
					{{ form.non_field_errors }}
					<div>
						{{ form.mensaje.errors }}
						<label for="id_descripcion">Mensaje (<span style="color:red">*</span>)</label>
						{{ form.mensaje }}
					</div>
					<div hidden=true>
						{{ form.empresa }}
						{{ form.puesto }}
						{{ form.status }}
					</div>
					<p><input type="submit" class="btn btn-primary" value="Solicitar Participaci&oacute;n" /></p>
				</form>
			{% endif %}
		</div>
	</div>
	<input value="Regresar" onClick="location.href='../../buscar_voluntarios/'" type="button" class="btn btn-primary">
</div>
{% endblock %}
