{% extends 'index.html' %}
{% load dictionary_extras %}

{% block principal %}
<div class="container-fluid">
	
	<div class="row-fluid">
		<div class="span2">
			<h2>Proyecto</h2>
			<p><b>Organizacion:</b></h4>
			<p>{{ puesto.proyecto.organizacion.nombre }}</p>
			<p><b>Descripcion:</b></p>
			<p>{{ puesto.proyecto.descripcion }}</p>
			<p><b>Objetivos:</b></p>
			<p>{{ puesto.proyecto.objetivos }}</p>
		</div>
	
		<div class="span6">
			<h1>Informacion</h1>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Descripcion:</th>
						<th>{{ puesto.descripcion }}</th>
					</tr>
					<tr>
						<th>Costo:</th>
						<th>{{ puesto.costo }}</th>
					</tr>
					<tr>
						<th>Escolaridad</th>
						<th>{{ esc|access:puesto.escolaridad }}</th>
					</tr>
					<tr>
						<th>Entregables</th>
						<th>{{ puesto.entregables }}</th>
					</tr>
					<tr>
						<th>Forma de Trabajo</th>
						<th>{{ puesto.forma_trabajo }}</th>
					</tr>
					<tr>
						<th>Fecha L&iacute;mite</th>
						<th>{{ puesto.fecha_limite }}</th>
					</tr>
				</tbody>
			</table>
			
		</div>
		<div class="span4">
			<h1>Acciones</h1>
			<input value="Buscar voluntarios" onClick="location.href='buscar_voluntarios'" type="button" class="btn btn-primary">
			{# TODO #}
			
		</div>
	</div>
	<input value="Regresar" onClick="location.href='../../proyecto/{{puesto.proyecto.id}}'" type="button" class="btn btn-primary">
</div>
{% endblock %}
